<!-- <style media="screen">
  div.footer .container {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    flex-direction: column-reverse;
    width: 100%;
    text-align: center;
  }
  div.footer .container a {
    font-size: 14px;
    margin-left: 6px;
    margin-right: 6px;
    opacity: 0.6;
    -webkit-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -moz-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -ms-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -o-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
  }
  div.footer .container a:first-child {
    margin-left: 0;
  }
  div.footer .container a:last-child {
    margin-right: 0;
  }
  div.footer .container a:hover {
    opacity: 0.8;
  }
  div.footer .container a .icon {
    width: 16px;
    height: 16px;
  }
  div.footer .container .copyright {
    flex-grow: 0.5;
    text-align: start;
  }
  div.footer .container .icons {
    flex-grow: 0.5;
    text-align: end;

  }
  div.column {
  padding: 0 16px;
  max-width: 750px;
  }
  div.column {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    width: 100%;
  }

</style>

<div class="footer-main column">
    <div class="container">



        <div class="copyright u-separate">



        </div>
        <div class="icons">
            <a href="https://github.com/Shashi456" rel=me target="_blank">
                <img class="icon" src="http://localhost:4000/img/github.svg" alt="github" />
            </a>
            <a href="https://www.linkedin.com/in/pawan-sasanka-ammanamanchi-76175a130/" rel=me target="_blank">
                <img class="icon" src="http://localhost:4000/img/linkedin.svg" alt="linkedin" />
            </a>

            <a href="mailto:pass2pawan@gmail.com">
                <img class="icon" src="http://localhost:4000/img/email.svg" alt="email" />
            </a>
            <a href="https://www.twitter.com/paws_ed">
                <img class="icon" src="http://localhost:4000/img/twitter.svg" alt="twitter" />
            </a>
            <a href="https://medium.com/@pawsed">
                <img class="icon" src="http://localhost:4000/img/medium.svg" alt="medium" />
            </a>


        </div>
    </div>
</div> -->
